

.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F55A5A;
    width: 100vw;  
    position: sticky; 
    top: 0; 
    left: 0; 
}


.Header .Logo {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: white;
}


.Header .Logo img {
    width: 20px;
    height: auto;
    object-fit: contain;
}

.Card {
    display: flex;
    gap: 20px;
    text-align: start;
    max-width: 800px;
    height: 240px;
    margin-bottom: 30px;  
    padding: 20px;

    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.Card .Image img {

    border-radius: 5px;
    height: 200px;


}

.Card .Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    gap: 5px;
    color: #333;
    flex: 1; 
    margin-top: 8px;
    margin-bottom: 10px;
}

.Card .Content .Location {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.Card .Content .Location img {

    height: 15px;
}

.Card .Content .Location h6 {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 100;
    color: #000000;

}

.Card .Content .Location a {
    font-size: 0.8rem;
    color: slategray;
    text-decoration: underline;
}

.Card .Content .Location a:hover {
    text-decoration: underline;
}

.Card h1 {
    margin: 0;
    font-size: 30px;
    color: #222;
    text-align: start;
    font-weight: 700;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.Card h2 {
    margin: 5px 0 0 0;
    font-size: 10px;
    color: #000000;
    font-weight: 300;
}

.Card p {
    margin: 10px 0 0 0;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #444;
}


hr{
    margin-top: 10px;
    color: #333;
}

.line{
width : "80%";
height : "1px";
background :"black";




}